@function px2rem($px){
	$rem: 37.5px;
	@return ($px / $rem) + rem;
}
.game{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #ddd;
	.game-content{
		height: px2rem(40px);
		background: #ccc;
		font-size: 0;
		text-align: center;
		height: auto;
	}
	.game-item{
		position: relative;
		display: inline-block;
		font-size: px2rem(16px);
		color: #ddd;
		line-height: px2rem(40px);
		width:calc(100% / 3);
		width: px2rem(100px);
		height: px2rem(100px);
		background-color: #999;
		text-align: center;
		margin: px2rem(10px);
		border-radius: px2rem(49px);
		box-shadow: 0 0 px2rem(10px) #111;
		overflow: hidden;
		.item-mouse{
			position: absolute;
			display: inline-block;
			top: px2rem(80px);
			left: px2rem(25px);
			width: px2rem(50px);
			height: px2rem(100px);
			background-color: #bbbfed;
			&.active0{
				background-color: red;
			}
			&.active1{
				background-color: #bbbfed;
			}
			&.active2{
				background-color: #bbbfed;
			}	
			&.active0,&.active1,&.active2{
				animation: mouseMove ease;
				animation-duration:3s;
				top: px2rem(20px);
			}
			@keyframes mouseMove{
				0% {top: px2rem(80px);}
				50% {top: px2rem(20px);}
				100% {top: px2rem(80px);}
			}
		}
	}	
	#startGameBtn{
		border-radius: px2rem(4px);
		font-size: px2rem(18px);
		background-color: #ddd;
		border:1px solid #111;
		background-color: #fff;
		padding: px2rem(5px) px2rem(10px);
		margin-left:px2rem(18px);
	}
	.ganme-time{
		display: inline-block;
		font-size: px2rem(18px);
		color: #666;
		em{
			font-style:normal;
			color: red;
		}
	}
}